$gray:#a1c5b5;

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container{
    width: 500px;
    height: 700px;
    border: 1px solid $gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
}

.task{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 100px 0 10px;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 20px;
    margin-bottom: 5px;

    &:last-child{
        margin-bottom: 0;
    }

    &-info{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task-deadline{
            color: gray;
        }
    }

    &-name{
        font-weight: bold;
    }

    &-delete{
        position:absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 15px;
    }
}

.modal-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.confirm-modal{
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px 0  rgba(0,0, 0, .7);
    padding: 20px 25px;
    font-weight:bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.add-modal{
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 10px 0  rgba(0,0, 0, .7);
    padding: 30px 25px;
    font-weight:bold;
    font-size: 20px;
    display: flex;    
    align-items: center;

    #dates{
        height: 40px;
        width: 130px;
        margin-right: 15px;
        text-align: center;
    }

    #title{
        height: 40px;
        width: 200px;
        margin-right: 15px;
        padding-left: 10px;
        font-size: 18px;
    }

    #submit{
        height: 40px;
    }
}

.modal-buttons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    margin-top: 50px;

    .item{
        width: 100px;
    }
}

.close-modal{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    top: -15px;
    right: -15px;
    background-color: white;
}

.add-task{
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

//npm install - запуск node modules
//npm run watch - запуск компилятора
